* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.delete-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete-container {
    width: 500px;
    background: #ffffff;
    border-radius: 6px;
    padding: 30px;
    color: #312229;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.delete-header {
    font-size: 24px;
    font-weight: bold;
    color: #54101d;
    margin-bottom: 20px;
}

.delete-container p {
    font-size: 16px;
    color: #312229;
    margin-bottom: 20px;
}

.delete-btn {
    background-color: #47596f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%;
    margin: 5px;
}

.delete-btn:hover {
    background-color: #b18653;
}

.delete-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

#deleteBtnNo {
    background-color: #54101d;
}

#deleteBtnNo:hover {
    background-color: #312229;
}

.close-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #54101d;
    font-size: 20px;
    cursor: pointer;
}
